Resources/srf-ws-12-v0.pdf
Resources/topsecret/*
Resources/*
# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pyc
*/__pycache__/*
__pycache__/*
*.pyc
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*
.ipynb_checkpoints
node_modules/

# IDE files
.idea

# example data
ch_cantons.topojson
ch_population.csv
